.jumbotron {
    padding: 10px;
}

#headers {
    min-height: 3rem;
}

label {
    font-weight: bolder;
}

#data-display {
    border: black solid 2px;
    border-radius: 10px;
}

h5 {
    padding: 10px 0px;
}